__pycache__/
besca.egg-info/
.ipynb_checkpoints
cache/
workbooks/test.ipynb
workbooks/analyzed
figures_testing/
*~
*.swp

build
pip
*.pyc

README.private.md
*_venv
*.h5ad
*.html
besca_test
workbooks/standard_workflow_besca2-requirements.txt
