__pycache__/
besca.egg-info/
.ipynb_checkpoints
cache/
workbooks/test.ipynb
workbooks/analyzed
workbooks/standard_workflow_besca2-requirements.txt
workbooks/*nbconvert.ipynb
workbooks/*requirements.txt
figures_testing/
*~
*.swp

build
pip
*.pyc

README.private.md
*_venv
*.h5ad
*.html
besca_test
*.gmtx
dist

.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
junit.xml
nosetests.xml
coverage.xml
*,cover

# Sphinx documentation
docs/_build/

.vscode