scipy>=1.5.4
flask-restful
dominate
requests
numpy>=1.18.0,<2
scanpy>=1.7.2
plotly<=5.20
anndata>=0.7.4
seaborn<0.13.0
mygene
pandas>=1.1.0
matplotlib>=3.5.0,<=3.7.1
bbknn
ipython
nbclean
scikit_learn>=1.0.2
python-igraph
leidenalg>=0.8.3
scanorama
scvelo
umap-learn
sinfo
pydot
scvi-tools
ipython
pytest
deprecation
gseapy
