absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.6
aniso8601==9.0.1
anndata==0.7.8
annoy==1.17.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
bbknn==1.5.1
biothings-client==0.2.6
bleach==4.1.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
chex==0.1.1
click==8.0.4
colorama==0.4.4
commonmark==0.9.1
cycler==0.11.0
Cython==0.29.28
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.6
docrep==0.3.2
dominate==2.6.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fbpca==1.0
Flask==2.0.3
Flask-RESTful==0.3.9
flatbuffers==2.0
flax==0.4.0
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.2.0
future==0.18.2
fuzzywuzzy==0.18.0
geosketch==1.2
google-auth==2.6.0
google-auth-oauthlib==0.4.6
greenlet==1.1.2
grpcio==1.44.0
h5py==3.6.0
idna==3.3
igraph==0.9.9
importlib-metadata==4.11.2
importlib-resources==5.4.0
intervaltree==2.1.0
ipykernel==6.9.1
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.0
jax==0.3.1
jaxlib==0.3.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
leidenalg==0.8.9
llvmlite==0.38.0
loompy==3.0.6
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
msgpack==1.0.3
multidict==6.0.2
multipledispatch==0.6.0
mygene==3.2.2
natsort==8.1.0
nbclean==0.3.2
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nbgrader==0.6.1
nest-asyncio==1.5.4
networkx==2.7
notebook==6.4.8
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
numpy-groupies==0.9.14
numpyro==0.9.1
oauthlib==3.2.0
openpyxl==3.0.9
opt-einsum==3.3.0
optax==0.1.1
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
plotly==5.6.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyDeprecate==0.3.1
pydot==1.4.2
Pygments==2.11.2
pynndescent==0.5.6
pyparsing==3.0.7
pyro-api==0.1.2
pyro-ppl==1.8.0
pyrsistent==0.18.1
python-dateutil==2.8.2
python-igraph==0.9.9
pytorch-lightning==1.5.10
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
requests==2.27.1
requests-oauthlib==1.3.1
rich==11.2.0
rsa==4.8
scanorama==1.7.1
scanpy==1.8.2
scikit-learn==1.0.2
scipy==1.8.0
scvelo==0.2.4
scvi-tools==0.15.0
seaborn==0.11.2
Send2Trash==1.8.0
sinfo==0.3.4
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.31
stack-data==0.2.0
statsmodels==0.13.2
stdlib-list==0.8.0
tables==3.7.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.13.2
testpath==0.6.0
texttable==1.6.4
threadpoolctl==3.1.0
toolz==0.11.2
torch==1.10.2
torchmetrics==0.7.2
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
typing_extensions==4.1.1
umap-learn==0.5.2
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.5.2
xlrd==1.2.0
yarl==1.7.2
zipp==3.7.0
